<h1>APP ROOT</h1>
<p>{{PotpourriCtrl.model.message}}</p>

<hr />

<!-- Directive -->
<superman yell enter="highlighter" leave></superman>

<!-- Directive to Directive Communication -->
<br />
<grossdude burping>Gross</grossdude>
<grossdude farting burping>Grosser</grossdude>
<grossdude nosepicking farting burping>Grossest</grossdude>

<hr />

<div ng-controller="RaffleCtrl">
  <form ng-submit="addEntry()">
    <input type="text" ng-model="newEntry.name">
    <input type="submit" value="Add">
  </form> 
  
  <ul>
    <li ng-repeat="entry in entries">
        {{entry.name}}
        <span ng-show="entry.winner" ng-class="{highlight: entry == lastWinner}" class="winner">WINNER</span>
        <span><a ng-click="removeEntry($index)">Delete</a></span>
    </li>
  </ul>
  
  <button ng-click="drawWinner()">Draw Winner</button>
</div>

<hr />

<div ng-controller="SimpleCtrl">
  <input type="text" ng-model="data.message">
  <h2>{{data.message | reverse}}</h2>
</div>

<hr />

<div ng-controller="SimpleCurrencyCtrl">
  <h2>Invoice Thingie</h2>
  <table>
    <tr>
      <td><input type="number" ng-pattern="/\d+/" step="1" min="0" ng-model="qty" placeholder="Enter Amount" required/></td>
      <td><input type="number" ng-model="cost" placeholder="$" required/></td>
    </tr>
  </table>
  <strong>Total: </strong> {{ qty * cost | currency }}
  <br />
  <!-- Directive to controller communication -->
  <button click="loadMoreTweets()">LOAD TWEETS</button>
</div>

<hr />

<div ng-controller="AvengersCtrl">
  <a href="https://egghead.io/lessons/angularjs-ngrepeat-and-filtering-data" target="_blank"><h2>ng-repeat and filtering data</h2></a>
  <input type="text" ng-model="search.$" placeholder="search" />
  <table>
    <tr ng-repeat="actor in avengers.cast | limitTo:'4' | orderBy:'name' | filter:search">
      <td>{{actor.name}}</td>
      <td>{{actor.character | uppercase}}</td>
    </tr>
  </table>
  <br />
  <!-- Directive to controller communication -->
  <button click="loadMoreTweets()">LOAD TWEETS</button>
</div>

<hr />

<div ng-controller="ChoreCtrl">
  <kid totesdone="logChore(chore)"></kid>
  <kid totesdone="logChore(chore)"></kid>
</div>

<hr />

<h2>Isolate @</h2>
<div ng-controller="DrinkCtrl">
  <input type="text" ng-model="ctrlFlavor">
  <input type="text" ng-model="ctrlColor">
  <drink flavor="{{ctrlFlavor}}" color="{{ctrlColor}}"></drink>
</div>

<hr />

<h2>Isolate &amp;</h2>
<p>Communicate with a controller through a directive</p>
<div ng-app="phoneApp">
  <div ng-controller="CallHomeCtrl">
      <phone dial="callHome(message)"></phone>
      <phone dial="callHome(message)"></phone>
      <phone dial="callHome(message)"></phone>
  </div>
</div>

<hr />

<!-- template (must be inside app scope)-->
<script type="text/ng-template" id="zippy.html.erb">
    <div><h3 ng-click="toggleContent()">{{title}}</h3>
      <div ng-show="isContentVisible" ng-transclude></div>
    </div>
</script>
<!-- template -->

<h2>Zippy</h2>
<p>Use a directive to create a show/hide</p>
<input type="text" placeholder="Enter a title" ng-model="model.title">
<input type="text" placeholder="Enter some content" ng-model="model.content">

<zippy title="{{model.title}}">
    The content is: {{model.content}}
</zippy>

<hr />


