<!DOCTYPE html>
<html>
<head>
  <title>Raffler</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Put a controller on the app so you can handle routing errors -->
<!-- https://egghead.io/lessons/angularjs-resolve-routechangeerror -->
<div ng-app="Raffler" ng-controller="AppCtrl">
  <div id="container">
    <%= yield %>
  </div>
</div>

</body>
</html>
